*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-family: 'Courier New', sans-serif;
}

.all {
    display: flex;
    flex-direction: column;
    background-color: #00909E;
    color: #DAE1E7;
}

nav {
    --min: 15ch;
    --gap: 1rem;

    display: grid;
    grid-gap: var(--gap);
    grid-template-columns: repeat(auto-fit, minmax(var(--min), 1fr));
}

nav a,
.lang-chooser {
    background-color: #00909E;
    color: #DAE1E7;
    font-size: 1rem;
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-style: none;
    text-align: center;
}

nav a:hover,
.lang-chooser:hover {
    background-color: #27496D;
    transition: 0.7s;
}

.lang-chooser {
    font-family: 'Courier New', sans-serif;
}

.dropdown-content {
  display: none;
}

main,
header,
footer {
  padding: 1rem 2vw;
}

header {
    background-color: #27496D;
    text-align: center;
}

body {
    background-color: #00909E;
    margin: 0;
}

.greeting-word {
    font-size: 4rem;
    background-color: #27496D;
    color: #DAE1E7;
    font-family: "Brush Script MT", Brush Script Std, cursive}

.header-img {
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;

}

.description-text {
    font-size: 1.5rem;
}

main {
    background-color: #27496D;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

main a {
    padding: 2rem;
    text-decoration: none;
    border-radius: 15px;
    max-width: 9rem;
    max-height: 4.5rem;
    color: #DAE1E7;
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
    background-color: #00909E;
    font-size: 1rem;
    margin-top: 4rem;
    margin-bottom: 8rem;
    margin-right: auto;
    margin-left: auto;
}

main a:hover {
    background-color: #27496D;
    transition: 0.7s;
}

footer {
    margin-top: 1rem;
    background-color: #00909E;
    text-align: center;
}