*,
::after,
::before {
    box-sizing: border-box;
}

.all {
    display: flex;
    flex-direction: column;
    background-color: #6B8EB7;
    color: #25476D;
    font-family: 'Courier New', sans-serif;
    min-height: 100vh;
}

nav {
    --min: 15ch;
    --gap: 1rem;

    display: grid;
    grid-gap: var(--gap);
    grid-template-columns: repeat(auto-fit, minmax(var(--min), 1fr));
}

.nav-home,
.nav-contact,
.lang-chooser {
    background-color: #6B8EB7;
    color: white;
    font-size: 1rem;
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-style: none;
    text-align: center;
}

.nav-home:hover,
.nav-contact:hover,
.lang-chooser:hover {
    background-color: #32527B;
    transition: 0.7s;
  	text-decoration: none;
    color: white;
  	cursor: pointer;
}

.lang-chooser {
    font-family: 'Courier New', sans-serif;
}

.dropdown-content {
    display: none;
}

main,
header,
footer {
    padding: 1rem 2vw;
}

header {
    background-color: #BCD3E7;
    text-align: center;
    color: #25476D;
}

body {
    background-color: #BCD3E7;
    margin: 0;
}

.greeting-word {
    font-size: 4rem;
    background-color: #BCD3E7;
    color: #25476D;
    font-family: "Brush Script MT", Brush Script Std, cursive}

.header-img {
    max-width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;

}

.description-text {
    font-size: 1.5rem;
}

.vertical-layout {
    background-color: #BCD3E7;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1
}

.vertical-layout a {
    padding: 2rem;
    text-decoration: none;
    border-radius: 15px;
    max-width: 9rem;
    max-height: 4.5rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #6B8EB7;
    font-size: 1rem;
    margin-top: 4rem;
    margin-bottom: 8rem;
    margin-right: auto;
    margin-left: auto;
}

.vertical-layout a:hover {
    background-color: #32527B;
    transition: 0.7s;
    text-decoration: none;
    color: white;
}

footer {
    margin-top: auto;
    background-color: #6B8EB7;
    text-align: center;
    color: white;
}

.horizontal-layout {
  float: left;
  width: 50%;
  display: table;
}

.work-entry {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin-bottom: 10%;
}

.job-description {
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.work-experience-section {
    background-color: #BCD3E7;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.company, .profession {
    font-size: 1.5rem;
}